<h3 class="titles">Crear Universidad</h3>
<form>
  <fieldset class="form-group">
    <label >Nombre Universidad</label>
    <input type="text" class="form-control" placeholder="Nombre de Universidad" ng-model="universityName">
  </fieldset>
  <fieldset class="form-group">
    <label >Ciudad</label>
    <input type="text" class="form-control"  placeholder="Ciudad" ng-model="city">
  </fieldset>
  <fieldset class="form-group">
    <label for="exampleInputFile">Logo de universidad</label>
    <input type="file" class="form-control-file" id="exampleInputFile" ng-model="uriLogo">
    <small class="text-muted">Archivo máximo de 5 MB</small>
  </fieldset>

  <button type="submit" class="btn btn-primary">Crear</button>
</form>
