<div class="container">
  <h2>{{vm.title}}</h2>
  <p>Se pueden asignar materias a la carrera</p>
  <div class="form-group">
    <input type="text" ng-model="vm.materia.name">
    <button class="btn btn-primary" ng-click="vm.crearMateria()">Crear Materia</button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre Materia</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="materia in vm.clases">
        <td>{{materia.id}}</td>
        <td>{{materia.name}}</td>
      </tr>
    </tbody>
  </table>
</div>
